################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ReferralSystem/FileContentIndex/0503b625-7479-4230-af70-5b0d2c7450bf.vsidx
/.vs/ReferralSystem/FileContentIndex/056f71de-7bf2-44ca-8b1e-5600a1e6659c.vsidx
/Documents
